body{
	text-align: center;
	background-color: #eee8e0;
	border-width: 30
	width:120%;
	max-height:20% ;
	min-height:20% ;
	right: 120%;
	border-width: 20%;
   font-color:black; 
    font-family: 'Poppins', sans-serif;
}





#header{
	background-color:white;
	border-radius: 10px;
}


h1{
	display:inline-block;
	position:relative; 
	color:#AF3669;
	
}
p {
  font-family: 'Poppins', sans-serif;
  font-color:black;
}


h1::after,h1::before{
content:'';
position:absolute;
width:120px;
height: 3px;
background-color:currentColor;
top: 0.6em;
}

h1::before{
left: -140px
}
h1::after{
right:-140px;


}
#main-container{
	margin: 150px auto;
	width: 600px;
}
table{
	background-color: white;
	text-align: center;
	width: 80%;
	margin: 50px auto;
	width: 700px;
	border-collapse: collapse;
	border-radius: 10px;
}
th,td{
	
	padding: 15px;
}
thead{
	background-color:;
	border-bottom: solid 4px  #eee8e0;
	color: black; 
}

tr:hover td{
	background-color: #AF3669;
	color: white;
}

.container{
	width: 90%;
	max-width: 500px;
	margin-left: left;
	margin-right: right;
	margin-top: 1em;
	margin-bottom: 1em;
	grid-gap: 20px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);

}

.item{
	background-color: white;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0.095);
    transition: all 100ms;
    position: relative;
}
.item::after{
	content: "";
	background-color: ; 
	width: 80%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(0);
	transition: all 100ms;
	opacity: 0;

}
.item:hover:after{
	opacity: 1;
	transform: scale(1);
}

.item:hover{
	transform: scale(1.05;);
}

.item-text{
	padding: 1em;
}

.item-img{
	max-width: 150%;
	display: block;
}

@media screen and (min-width: 960px){

	.container{
		grid-template-columns: repeat(2, 1fr);
	}
}
